@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: white;
}

html {
  height: 100%;
}

#root,
#portal {
  min-height: 100vh;
}

.gradient {
  @apply bg-gradient-to-r from-lime-500 to-emerald-500;
}
