* {
  box-sizing: border-box;
}

#container {
  background: linear-gradient(
    to right,
    rgba(11, 144, 227, 0.457),
    rgba(255, 255, 255, 0.61)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#login_title {
  text-align: center;
  color: rgb(9, 86, 114);
  font-size: 2.5em;
}
input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 20px;
  width: 300px;
}
.login-btn {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  background-color: rgb(9, 86, 114);
  color: white;
  border: none;
  cursor: pointer;
}
.login-btn:hover {
  background-color: rgb(7, 65, 87);
  transform: scale(1.25) rotate(5deg);
  color: black;
  font-weight: 600;
}
#match-container {
  background: linear-gradient(
    to right,
    rgba(11, 144, 227, 0.457),
    rgba(255, 255, 255, 0.61)
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#match-title {
  font-size: 2.5em;
  color: rgb(9, 86, 114);
  text-align: center;
  margin: 10px 60px 60px 60px;
  font-weight: 600;
}
#welcome-text {
  font-size: 1.5em;
  color: rgb(9, 86, 114);
  text-align: center;
  margin-top: 20px;
}
#instruction-text {
  font-size: 1.1em;
  color: rgb(85, 136, 154);
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.team-card {
  width: 300px;
  min-height: 150px;
  border-radius: 10px;
}

.team-a {
  background-color: rgba(35, 127, 99, 0.406);
}

.team-b {
  background-color: rgba(63, 105, 108, 0.826);
}

.team-card h2 {
  text-align: center;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
}

.team-a h2 {
  color: rgb(9, 86, 114);
}

.team-b h2 {
  color: white;
}

.selected {
  box-shadow: 0 0 15px rgba(107, 123, 119, 0.7);
  transform: scale(1.05);
  transition: 0.2s;
}
.player-slot {
  color: rgba(26, 24, 24, 0.847);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  text-align: start;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.selectable-slot {
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.selectable-slot:hover {
  transform: scale(1.03);
  border: 1px solid black;
  border-radius: 10px;
}
#button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.start-btn {
  background-color: rgba(10, 111, 86, 0.763);
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 25px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
}
.start-btn:hover {
  background-color: rgb(219, 236, 243);
  transform: scale(1.25) rotate(5deg);
  color: black;
  font-weight: 600;
}
.exit-btn {
  background-color: rgba(151, 19, 19, 0.772);
  color: black;
  border: 1px solid black;
  padding: 8px 50px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
.exit-btn:hover {
  background-color: rgb(168, 98, 98);
  transform: scale(1.25) rotate(5deg);
  color: white;
  font-weight: 600;
}
/*pálya*/
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#game-container {
  background: linear-gradient(
    to right,
    rgba(108, 141, 162, 0.457),
    rgba(255, 255, 255, 0.61)
  );
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#scoreboard {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  margin: 10px;
}
#scoreboard span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(14, 61, 78);
  font-weight: 700;
}
.teamA {
  font-size: 1.1em;
  color: rgb(9, 86, 114);
  font-weight: 700;
}
.teamB {
  font-size: 1.1em;
  color: rgb(123, 157, 44);
  font-weight: 700;
}

#field {
  width: 1000px;
  height: 600px;
  background-color: #1e7d32;
  border: 4px solid white;
  position: relative;
}
.mid-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: white;
  transform: translateX(-50%);
}

.center-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 4px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goal {
  position: absolute;
  width: 20px;
  height: 120px;
  border: 4px solid white;
  top: 50%;
  transform: translateY(-50%);
}

.left-goal {
  left: 0;
  border-left: none;
}

.right-goal {
  right: 0;
  border-right: none;
}
.ball {
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player {
  position: absolute;
  border: 2px solid black;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.player-a {
  background-color: #ff3b3b;
}

.player-b {
  background-color: #3b7bff;
}

.player-a-1 {
  top: 25%;
  left: 25%;
}

.player-a-2 {
  top: 50%;
  left: 18%;
}

.player-a-3 {
  top: 75%;
  left: 25%;
}

.player-b-1 {
  top: 25%;
  left: 75%;
}

.player-b-2 {
  top: 50%;
  left: 82%;
}

.player-b-3 {
  top: 75%;
  left: 75%;
}
.taken {
  opacity: 0.6;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 10px;
}
#close-btn {
  margin-right: 20px;
  padding: 8px 25px;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 4px;
  background-color: rgba(226, 75, 75, 0.877);
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
#close-btn:hover {
  color: black;
  font-weight: 700;
}
.waiting-players {
  margin-top: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.waiting-players p {
  margin-bottom: 8px;
}

.waiting-players span {
  display: inline-block;
  margin: 5px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
}
